* {
  margin: 0;
  background-color: #F5F5F5;
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
header {
  background-color: #FFFFFF;
  width: 100%;
  padding: 16px;
  padding-left: 30px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 30px;
}
.HeaderTop {
  background: none;
  display: flex;
  align-items: center;
  gap: 50px;
}
/*Logo Header*/
#LogoHeader {
  background: none;
  width: 253px;
  height: 44px;
  user-select: none;
}
/*Search-Box*/
.HeaderInput {
  background: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 559px;
  padding: 20px 8px;
  background-color: #F5F5F5;
  border-radius: 5px;
}
.HeaderInput input {
  border: none;
  background: none;
  font-size: 16px;
}
.HeaderInput input::placeholder {
  color: #8f8f8f;
}
.HeaderInput input:focus{
  outline: none;
}
.HeaderTop box-icon {
  background: none;
  cursor: pointer;
  transition-duration: 200ms;
}
#SearchButton {
  fill: #8f8f8f;
}
#SearchButton:hover {
  fill: #C92071;
}
/*Header Login Area*/
.HeaderButtons {
  background: none;
  display: flex;
  align-items: center;
  gap: 30px;
}
.HeaderButtons a {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
}
.HeaderButtons #CadastroButton {
  border: none;
  color: #474747;
  text-decoration: underline #474747;
  text-underline-offset: 3px;
}
.HeaderButtons #LoginButton {
  width: 114px;
  height: 40px;
  text-align: center;
  border-radius: 4px;
  background-color: #C92071;
  color: white;
}

/*Cart Container / Container Carrinho */
header .CartContainer {
  background: none;
  display: flex;
  align-items: flex-start;
  user-select: none;
}
header .CartContainer .CartNumber {
  background-color: #C92071;
  height: 18px;
  width: 18px;
  padding: 2.5px;
  border-radius: 20px;
  margin-left: -8px;
  position: relative;
  z-index: 1;
}
header .CartContainer .CartNumber h6 {
  background: none;
  font-size: 11px;
  margin-bottom: 2px; 
  text-align: center;  
  color: white;
  font-weight: bold;
}
header .CartContainer #CartButton {
  background: none;
  width: 30px;
  cursor: pointer;
}
/*NavLinks*/
header nav ul{
  background-color: #FFFFFF;
}
header nav ul li{
  display: flex;
  background: none;
  gap: 30px;
}
header nav ul li a {
  background: none;
  color: #474747;
}
.HomeSlide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  width: 100%;
  background-color: #F5F5F5;
}
.HomeSlideContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: -20px;
  margin-bottom: -30px;
}
.HomeSlideTexts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: none;
  padding-left: 40px;
}
.HomeSlideTexts h6 {
  background: none;
  font-size: 16px;
  padding-bottom: 10px;
  color: #F6AA1C;
}
.HomeSlideTexts h1 {
  background: none;
  font-size: 64px;
  line-height: 66px;
  padding-bottom: 10px;
}
.HomeSlideTexts p {
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: .75px;
  background: none;
  color: #474747;
}
.HomeSlideButton {
  background: none;
}
.HomeSlideButton button {
  background-color: #C92071;
  color: white;
  width: 220px;
  height: 48px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  letter-spacing: .75px;
  cursor: pointer;
  transition-duration: 200ms;
  user-select: none;
}
.HomeSlideButton button:hover {
  background-color: #eb3c90;
}
#HomeSlideImg {
  background: none;
  padding-right: 80px;
  user-select: none;
}
#HomeSlideImg img {
  width: 700px;
  rotate: -19deg;
  background: none;
}
.HomeSliderCounterContainer {
  display: flex;
  gap: 10px;
}
.HomeSlideCounter {
  background-color: #CCCCCC;
  padding: 6px;
  border-radius: 10px;
  z-index: 1;
  cursor: pointer;
  transition-duration: 200ms;
}
#SliderBall1.active{
  background-color: #C92071;
}
#SliderBall2.active{
  background-color: #C92071;
}
#SliderBall3.active{
  background-color: #C92071;
}
#SliderBall4.active{
  background-color: #C92071;
}