@font-face {
  font-family: Inter;
  src: url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
}
* {
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: Inter;
  box-sizing: border-box;
  background: none;
}
body {
  background-color: #F9F8FE;
}
header {
  background-color: #FFFFFF;
  width: 100%;
  padding: 16px;
  padding-left: 30px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 30px;
}
.HeaderTop {
  display: flex;
  align-items: center;
  gap: 50px;
}
/*Logo Header*/
#LogoHeader {
  width: 253px;
  height: 44px;
  user-select: none;
}
/*Search-Box*/
#HeaderInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 559px;
  padding: 20px 8px;
  background-color: #F5F5F5;
  border-radius: 5px;
}
#HeaderInput.active {
  border: 2px solid #C92071;
}
#HeaderInput input {
  border: none;
  font-size: 16px;
  width: 100%;
}
#HeaderInput input::placeholder {
  color: #8f8f8f;
}
#HeaderInput input:focus{
  outline: none;
}
.HeaderTop box-icon {
  cursor: pointer;
  transition-duration: 200ms;
}
#SearchButton {
  fill: #8f8f8f;
}
#SearchButton:hover {
  fill: #C92071;
}
/*Header Login Area*/
.HeaderButtons {
  display: flex;
  align-items: center;
  gap: 30px;
}
.HeaderButtons a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
}
.HeaderButtons #CadastroButton {
  border: none;
  color: #474747;
  text-decoration: underline #474747;
  text-underline-offset: 3px;
  transition-duration: 200ms;
}
#CadastroButton:hover {
  color: #8f8d8d;
  text-decoration:underline #8f8d8d;
}
.HeaderButtons #LoginButton {
  width: 114px;
  height: 40px;
  text-align: center;
  border-radius: 4px;
  background-color: #C92071;
  color: white;
  transition-duration: 300ms;
}
#LoginButton:hover {
  background-color: #eb3c90;
}
/*Cart Container / Container Carrinho */
header .CartContainer {
  display: flex;
  align-items: flex-start;
  user-select: none;
}
header .CartContainer .CartNumber {
  background-color: #C92071;
  height: 18px;
  width: 18px;
  padding: 2.5px;
  border-radius: 20px;
  margin-left: -8px;
  position: relative;
  z-index: 1;
}
header .CartContainer .CartNumber h6 {
  font-size: 11px;
  padding-bottom: 5px; 
  text-align: center;
  color: white;
  font-weight: bold;
}
header .CartContainer #CartButton {
  width: 24px;
  margin-top: 5px;
  cursor: pointer;
}
/*NavLinks*/
header nav ul{
  background-color: #FFFFFF;
  display: flex;
  gap: 30px;
}
header nav ul li .LinkHeader {
  text-decoration: none;
  list-style: none;
  color: #474747;
  font-weight: 400;
  cursor: pointer;
  transition-duration: 200ms;
}
header nav ul li .LinkHeader.active {
  color: #C92071;
  font-weight: 700;
  text-decoration: underline 2px solid #C92071;
  text-underline-offset: 3px;
}
/*HomeSlide Ofertas*/
.HomeSlide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  width: 100%;
  background-color: #F5F5F5;
}
.HomeSlideContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: -20px;
}
.HomeSlideTexts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 40px;
}
.HomeSlideTexts h6 {
  font-size: 16px;
  padding-bottom: 10px;
  color: #F6AA1C;
}
.HomeSlideTexts h1 {
  font-size: 64px;
  line-height: 66px;
  padding-bottom: 10px;
}
.HomeSlideTexts h1 span {
  font-size: 40px;
}
.HomeSlideTexts p {
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: .75px;
  color: #474747;
}
.HomeSlideButton button {
  background-color: #C92071;
  color: white;
  width: 220px;
  height: 48px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  letter-spacing: .75px;
  cursor: pointer;
  transition-duration: 200ms;
  user-select: none;
}
.HomeSlideButton button:hover {
  background-color: #eb3c90;
}
#HomeSlideImg {
  width: 100%;
  margin-bottom: 0px;
  user-select: none;
}
#HomeSlideImg img {
  rotate: -19deg;
}
#ShowSlide1 {
  opacity: 1;
  visibility: visible;
  margin-bottom: 3px;
}
#ShowSlide1.inactive{
  width: 0px;
  padding: 0px;
  visibility: hidden;
  opacity: 0;
}
#ShowSlide2 {
  opacity: 0;
  visibility: hidden;
  display: none;
  -webkit-transition: opacity 200ms, visibility 200ms;
  transition: opacity 200ms, visibility 200ms;
}
#ShowSlide2.active{
  visibility: visible;
  opacity: 1;
  display: list-item;
  margin-bottom: -13px;
  transition-duration: 200ms;
}
#ShowSlide3 {
  display: none;
}
#ShowSlide3.active{
  display: flex;
  margin-bottom: -13px;
  transition-duration: 200ms;
}
#ShowSlide4 {
  display: none;
}
#ShowSlide4.active{
  display: list-item;
  margin-bottom: -13px;
  transition-duration: 200ms;
}
.HomeSliderCounterContainer {
  display: flex;
  gap: 10px;
}
.HomeSlideCounter {
  background-color: #CCCCCC;
  padding: 6px;
  margin-bottom: 10px;
  border-radius: 10px;
  z-index: 1;
  cursor: pointer;
  transition-duration: 200ms;
}
#SliderBall1 {
  background-color: #C92071 ;
}
#SliderBall1.inactive{
  background-color: #CCCCCC;
}
#SliderBall2.active{
  background-color: #C92071;
}
#SliderBall3.active{
  background-color: #C92071;
}
#SliderBall4.active{
  background-color: #C92071;
}
/*Coleção Destaque Container*/
#ColecoesDetaque {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px;
}
.ColecoesDestaqueContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
}
.ColecoesDestaqueContainer #DestaqueTitulo {
  padding-bottom: 20px;
}
.ColecoesCardContainer {
  display: flex;
  align-items: center;
}
.ColecoesCard {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.Card1ElementsContainer, .Card2ElementsContainer, .Card3ElementsContainer{
  width: 405px;
  height: 251px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 16px 18px;
  border-radius: 8px;
}
.Card1ElementsContainer {
  background: url(../public/collection-1.png) center center no-repeat;
  padding-left: 25px;
}
.Card2ElementsContainer {
  background: url(../public/collection-2.png) center center no-repeat;
  padding-left: 32px;
}
.Card3ElementsContainer {
  background: url(../public/collection-3.png) center center no-repeat;
}
#CardDiscount{
  display: flex;
  background-color: #E7FF86;
  border-radius: 8px;
  padding: 5px 15px;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 100px;
  color: #474747;
  letter-spacing: .75px;
  text-transform: uppercase;
  text-align: center;
}
#CardDestaqueBtn {
  background-color: #F5F5F5;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .75px;
  width: 153px;
  height: 48px;
  text-align: center;
  color: #C92071;
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  transition-duration: 200ms;
}
#CardDestaqueBtn:hover {
  color: #FFFFFF;
  background-color: #B5B6F2;
}
/*Coleções em Destaque Categorias*/
.DestaquesCategorias {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.DestaquesCategoriasIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  gap: 39px;
}
.DestaquesCategorias #DestaqueTitulo {
  padding-bottom: 20px;
}
.DestaquesCategoriasIcons span {
  background-color: #FFFFFF;
  text-align: center;
  padding: 8px 10px;
  border-radius: 50px;
  user-select: none;
}
.DestaquesCategoriasIcons #CategoriaIcons {
  width: 100%;
  transition: 0.3s;
  filter: sepia(0%) saturate(4800%) hue-rotate(308deg) brightness(0%) contrast(0%);
  cursor: pointer;
}
.DestaquesCategoriasIcons #CategoriaIcons:hover {
  filter:  sepia(62%) saturate(4800%) hue-rotate(308deg) brightness(90%) contrast(170%);
  transition: 0.3s;
}
.DestaquesCategoriasTexts{
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: .75px;
  padding-right: 10px;
  gap: 65px;
}
.DestaquesCategoriasTexts #CategoriasSubtitiles {
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.75px;
  text-align: center;
  color: #474747;
  user-select: none;
}
/*Produtos em Alta Container*/
.ProdutosAltaContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  margin-bottom: 50px;
}
.ProdutosAltaTitles {
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ProdutosAltaTitles h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: .75px;
}
.ProdutosAltaTitles h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: .75px;
  line-height: 34px;
  gap: 8px;
  color: #C92071;
  fill: #C92071;
  cursor: pointer;
  transition: 200ms;
}
.ProdutosAltaTitles box-icon {
  width: 24px;
  display: flex;
  margin-bottom: -10px;
}
.ProdutosAltaTitles h5:hover {
  color: #eb3c90;
  fill: #eb3c90;
}
.ProdutosAltaCardContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}
.ProdutosAltaContainer .ProdutosAltaCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #FFFFFF;
  padding: 20px;
  height: 321px;
  width: 292px;
  border-radius: 8px;
  box-shadow: 0px 5px 5px #302e2e0d;
}
.ProdutosAltaCard #CardDiscountAlta{
  display: flex;
  background-color: #E7FF86;
  border-radius: 12px;
  width: 100px;
  padding: 5px 15px;
  font-size: 14px;
  font-weight: 700;
  color: #474747;
  margin-top: 15px;
  letter-spacing: .75px;
  text-transform: uppercase;
  text-align: center;
}
.ProdutosAltaCardImg {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: -20px;
  margin-left: -15px;
}
.ProdutosAltaCard img{
  width: 248px;
  rotate: -30deg;
  transition: linear;
  transition-duration: 200ms;
  cursor: pointer;
}
.ProdutosAltaCard img:hover {
  width: 252px;
}
.ProdutosCardReferenceType {
  display: flex;
  justify-content: flex-start;
  gap: 276px;
  margin-left: 0px;
  user-select: none;
}
.ProdutosAltaCardReferences .ProdutosCardReferenceType #ProdutoTipo {
  color: #8F8F8F;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.75px;
  text-align: left;
}
.ProdutosCardReferenceName {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-left: 0px;
}
.ProdutosAltaCardReferences .ProdutosCardReferenceName #ProdutoName{
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.75px;
  text-align: left;
  color: #474747;
  transition: linear;
  transition-duration: 200ms;
  cursor: pointer;
  text-decoration: none;
}
.ProdutosAltaCardReferences .ProdutosCardReferenceName #ProdutoName:hover {
  color: #C92071;
}
.ProdutosCardReferencePrices {
  display: flex;
  align-items: center;
  gap: 5px;
}
.ProdutosCardReferencePrices #ProdutoOldPrice {
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.75px;
  text-align: left;
  text-decoration: line-through;
  color: #8F8F8F;
}
.ProdutosCardReferencePrices #ProdutoNewPrice {
  color: #1F1F1F;
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0.75px;
  text-align: left;
  margin-right: 175px;
}
/*Oferta Especial Container*/
.OfertaEspecialMainContainer {
  background-color: #FFFFFF;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 30px;
}
.OfertaEspecialContainer {
  height: 553px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 16px;
  gap: 120px;
}
.OfertaEspecialProdutoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 446px;
  height: 446px;
  margin-left: 45px;
  border: none;
  border-radius: 350px;
  background: linear-gradient(to top ,#FFFFFF, #4400ff25);
  user-select: none;
}
.OfertaEspecialProdutoContainer #OfertaEspecialObject{
  width: 573px;
}
.OfertaEspecialTextos {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px;
  gap: 20px;
}
.OfertaEspecialTextos h6 {
  color: #C92071;
  font-size: 14px;
  font-weight: 700;
}
.OfertaEspecialTextos h2 {
  color: #474747;
  font-size: 48px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 1px;
}
.OfertaEspecialTextos p {
  color: #474747;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: .75px;
}
.OfertaEspecialButton button {
  background-color: #C92071;
  color: white;
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  letter-spacing: .75px;
  cursor: pointer;
  transition-duration: 200ms;
  user-select: none;
}
.OfertaEspecialButton button:hover {
  background-color: #eb3c90;
}
/*ProductListingPage*/
.ProductListingContainerMain {
  background-color: #F9F8FE;;
  width: 100%;
  height: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.ProductsListingTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}
.OrdenarProdutosContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #474747;
  height: 60px;
  width: 332px;
  padding: 2px;
}
select::before ,select::after #h5ProdutosSelect {
  font-weight: 700;
}
.ProductsListingTop .OrdenarProdutosContainer select {
  border: none;
  appearance: none;
  outline: none;
  font-size: 16px;
  height: 100%;
  width: 100%;
  display: flex;
  font-weight: 700px;
  align-items: center;
  padding: 10px;
}
.ProductsListingTop .OrdenarProdutosContainer .OrdenarProdutosOption {
  appearance: none;
  background-color: #C92071;
}
.ProductsListingTop .OrdenarProdutosContainer .OrdenarProdutosSeletorIcon {
  display: flex;
  padding-right: 10px;
}
.ProductListingQuantidade {
  display: flex;
  align-items: center;
  gap: 5px;
}
.ProductListingQuantidade h5, .ProductListingQuantidade h6 {
  color: #474747;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: .75px;
}
.ProductListingQuantidade h6 {
  line-height: 28px;
  font-weight: 400;
}
.ProductListingFilterContainer {
  width: 308px;
  padding: 30px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 4px;
}
.ProductListingFilterContainer #Textfilter {
  color: #474747;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: .75px;
}
.ProductListingFilterContainer hr {
  border: 1px solid #CCCCCC;
}
.ProductsMarkaContainer, .ProductsCategoriasContainer, .ProductsEstadoContainer {
  margin-top: 20px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.FilterCheckBoxMainContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}
.FilterCheckBoxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  position: relative;
  gap: 8px;
}
.Switch-checkbox input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  height: 22px;
  width: 22px;
  background-color: #FFFFFF;
  border: 1px solid #474747;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  cursor: pointer;
  transition: linear 200ms;
}
.Switch-checkbox input[type="checkbox"]:hover {
  background-color: #F5F5F5;
}
.Switch-checkbox input[type="checkbox"]::after{
  font-family: "Font Awesome 5 Free";
  font-size: 13px;
  color: #FFFFFF;
  font-weight: 900;
  content: "\f00c";
  display: none;
  transition: linear 200ms;
}
.Switch-checkbox input[type="checkbox"]:checked {
  border: none;
  background-color: #C92071;

}
.Switch-checkbox input[type="checkbox"]:checked::after {
  display: list-item;
}
.FilterCheckBoxContainer label {
  color: #474747;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: .25px;
  cursor: pointer;
}
.Switch-Radio input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid #666666;
  width: 22px;
  height: 22px;
  border-radius: 22px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Switch-Radio input[type="radio"]::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 14px;
  content: "\f111";
  color: #C92071;
  transition: linear 200ms;
  display: none;
}
.Switch-Radio input[type="radio"]:checked {
  border-color: #C92071;
  transition: linear 200ms;
}
.Switch-Radio input[type="radio"]:checked::after {
  display: list-item;
}
/*Footer Container*/
.FooterContainer {
  padding: 16px;
  width: 100%;
  background-color: #1F1F1F;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.FooterContainer hr {
  width: 95%;
  margin: auto;
  border-color: #FFFFFF;
  opacity: 30%;
  margin-bottom: 10px;
}
.FooterContainer .Copyright {
  padding: 10px;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: .75px;
  color: #FFFFFF;
  user-select: none;
}
.FooterBox {
  display: flex;
  padding: 40px;
  padding-bottom: 20px;
  color: #FFFFFF;
}
.FooterStartObjects {
  width: 55%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.FooterStartObjects #LogoFooter {
  width: 253px;
  padding-bottom: 30px;
  user-select: none;
}
.FooterStartObjects h5 {
  font-size: 16px;
  letter-spacing: .75px;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 30px;
}
.FooterSocialContainer {
  display: flex;
  gap: 30px;
  user-select: none;
}
.FooterSocialContainer img {
  cursor: pointer;
  transition: 200ms;
  filter: invert(0%) sepia(0%) saturate(4700%) hue-rotate(308deg) brightness(100%) contrast(100%);
}
.FooterSocialContainer img:hover {
  /*Ferramenta Utilizada https://codepen.io/jumarjuaton/full/mdJYWYq */
  filter: invert(24%) sepia(65%) saturate(4700%) hue-rotate(308deg) brightness(90%) contrast(190%);
  transition: 200ms;
}
.FooterInformationContainer, .FooterCategoryContainer, .FooterContatoContainer {
  width: 30%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  line-height: 38px;
}
.FooterInformationContainer {
  padding-left: 80px;
  margin-right: 40px;
}
.FooterCategoryContainer {
  padding-right: 30px;
}
.FooterContatoContainer {
  padding-right: 30px;
}
.FooterInformationContainer h3 a, .FooterCategoryContainer h3 a, .FooterContatoContainer h3 {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 10px;
  color: #FFFFFF;
}
.FooterInformationContainer h4 a, .FooterCategoryContainer h4 a, .FooterContatoContainer h4{
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  transition-duration: 500ms;
}
.FooterContatoContainer h4 {
  line-height: 26px;
  margin-bottom: 20px;
}